<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Slack</display-name>
  <servlet>
    <servlet-name>Slack_Auth</servlet-name>
    <servlet-class>slack.Slack_Auth</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Slack_Auth</servlet-name>
    <url-pattern>/Slack</url-pattern>
  </servlet-mapping>
</web-app>